{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="mb-2 text-center">Crear Evento</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-1 form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% if field.name == 'organizador' %}
                <select class="form-select" aria-label="Seleccionar Organizador" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                    {% for choice in field.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                {% else %}
                {% if field.field.widget.input_type != 'checkbox' %}
                <input class="form-control" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {% if field.value %}value="{{ field.value }}"{% endif %} {% if field.field.required %}required{% endif %}>
                {% else %}
                <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {% if field.value %}checked{% endif %}>
                {% endif %}
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}



