{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4 text-center">Crear Usuario</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <div class="input-group">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
{% endblock %}